<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Resume - Mario Alves</title>
</head>
<body>
    <h2><strong>Welcome! This is mi resume :) </strong> </h2>
    <a href="/">Back</a>
    <main>
        <h1><%= title %></h1>
        <strong><%= name %></strong>
        <p><%= profession %></p>
        <p><%= description %></p>

        <ul>
            <% experience.map(experience => {%>
                <li>
                    <div>
                        <strong><%=experience.company %>: </strong>
                        <strong><%=experience.office %>: </%=experience.office>
                        <br>
                        <span><%=experience.description %></span>
                    </div>
                </li>
            <% }); %>
        </ul>

        <ul>

            <% education.map(education => { %>
                <li>
                    <div>
                        <strong><%= education.institution %></strong>
                        <br>
                        <span><%= education.description %></span>
                    </div>
                </li>
            <% }); %>
        </ul>

        <ul>
            <% skills.map(skill => { %>
                <li><%= skill %></li>
            <% }); %>
        </ul>
    </main>
</body>
</html>
